@import url(https://fonts.googleapis.com/css?family=Raleway:400,500|Archivo+Narrow:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Gruppo);

html { 

}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.clearfix:after {
  font-size: 0;
  height: 0;
  visibility: hidden;
  content: " ";
  display: block;
  clear: both;
}

body {
	font-size: 22px;
  font-family: 'Archivo-Narrow', sans-serif;
	font-weight: 400;
  height: auto !important;
  min-height: 100%;
  text-rendering: optimizeLegibility;
	color: #D3CBBD;
}

#wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
}

header {
	background: #403D3C;
	height: inherit;
	z-index: 170;
  margin: 0 auto;
  border-bottom: .15em solid #F19F0F;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header div#logo {
  background-color: transparent;
  max-width: 12.76%;
	height: inherit;
	float: left;
	padding-top: 1.05%;
	padding-left: 1.41%;
	padding-bottom: 1.05%;
}

p {
  font-size: .75em;
  font-family: 'Roboto Condensed', sans-serif;
}

a, a.visible {
  text-decoration: none;
  color: #5B9299;
}

#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu #menu-button {
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu ul {
}

#menu #menu-button {
	display: none;
}

#menu {
	font-family: 'Archivo Narrow', sans-serif;
	background: #403D3C;
}
	
#menu ul li {
	float: right;
	margin-top: 3.5%;
	padding-right: 2.5%;
}

#menu.align-center ul {
  font-size: 0;
  text-align: center;
}

#menu.align-center ul li {
  display: inline-block;
  float: none;
}

#menu ul li a {
	padding: .3em;
  font-size: .75em;
  letter-spacing: .1em;
  word-spacing: .1em;
  text-decoration: none !important;
  color: #D3CBBD;
  font-weight: 400;
  text-transform: uppercase;
}

#menu ul li:hover > a {
  color: #FFF5E4;
}

#menu img#facebook-logo {
  max-width: 1.75em;
  max-height: 1.75em;
}

#menu img#twitter-logo {
  max-width: 2em;
  max-height: 2em;
}

#menu img#etalogo {
  max-width: 15em;
  margin-top: 5%;
  padding-left: 5%;
}

#news-highlight {
  display: block;
  float: left;
  width: 100%;
  max-height: 620px;
  background: #456F74;
  position: relative;
  overflow: hidden;
}

#news-highlight #highlightpic {
  width: 70%;
  float: left;
  position: relative;
  height: inherit;
  padding-top: 5%;
  overflow: hidden;
}

#news-highlight img {
  width: 100%;
  border-right: .2em solid black;
  max-height: 620px;
}

#news-highlight #text {
  width: 30%;
  display: block;
  float: left;
  max-height: 620px;
  margin-top: 15%;
  position: relative;
}

#news-highlight #text p {
  height: inherit;
  line-height: 1.5;
  font-size: .9em;
  color: #D3CBBD;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  padding: 7% 1% 1% 1%;
  letter-spacing: .02em
}

a#moz-background-size {
  color: #FB9D29;
}

.col2 { 
  height: 400px;
  width: 31.33%;
  float: left;
  margin: .16%;
  padding: 1%;
}

#news-highlight a {
  color: #F19F0F;
}

#news-highlight a:hover {
  color: #F19F0F;
  font-weight: bolder;
  text-decoration: underline;
}

#news-highlight a#more {
  color: #F19F0F;
  font-weight: bolder;
  text-decoration: underline;
  letter-spacing: .15em;
  font-family: 'gruppo', sans-serif;
  line-height: 2.5;
}

#news-highlight #newswrapper {
  max-height: 500px;
  margin-top: 0;
  float: left;
  display: block;
}
#news-highlight a#more:hover {
  color: #F19F0F;
  text-decoration: underline;
  font-weight: bolder;
}

.col1 { 
  height: 400px;
  width: 31.33%;
  float: left;
  margin: .16%;
  padding: 1%;
}

#intro {
  display: block;
  width: 100%;
  background: #1C1919;
  line-height: 1.5;
  text-align: left;
  border-bottom: .2em solid black;
  border-top: .2em solid black;
  height: inherit;
  float: left;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#intro h1 {
  font-family: 'Gruppo', sans-serif;
  color: #F19F0F;
  text-align: center;
  font-size: 2.5em;
  line-height: 125%;
  padding-top: 6%;
  padding-bottom: 6%;
  text-transform: uppercase;
  border-bottom: .06em solid #456F74;
}

#intro p {
  background: rgba(115, 107, 106, .3);
  color: #D3CBBD;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: .9em;
}

#intro p#p1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}

#intro p#p2 {
  padding: 2% 10% 4% 10%;
}

hr.hr1 {
  border-top: 1px solid #456F74;
}

#talent {
  background-color: #F19F0F;
  clear: both;
  border-bottom: .2em solid black;
  padding-top: 7.03%;
  padding-bottom: 7.03%;
  width: 100%;
  height: inherit;
}

#talent h2 a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  color: black;
  text-align: justify;
  text-transform: uppercase;
  padding-left: 7%;
}

#talent h2 {
  width: 50%;
  background-color: #D3CBBD;
  padding-top: .88%;
  padding-bottom: .88%;
  padding-right: 2%;
  border-top: .2em solid black;
  border-right: .2em solid black;
  border-bottom: .2em solid black;
  font-size: 1.25em;
  text-align: right;
}

#talent ul {
  display: block;
  width: 65%;
  font-size: .9em;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
  margin-left: 25%;
  padding-top: 4.23%;
  -webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;
  -webkit-column-gap: 0; 
  -moz-column-gap: 0; 
  column-gap: 0;
}

#talent li {
  width: 100%;
}

#talent li a {
  padding: 1.87% 1.07% .8% 1.07%;
  color: #fff;
  display: block;
  line-height: 2.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

#talent li:hover a {
  color: #968F8D;
  font-weight: bolder;
}

#client-news {
  width: 100%;
  margin-top: 0;
  padding-top: 7.03%;
  padding-bottom: 7.03%;
  background: url('..//images/gold_muted_web.png') no-repeat center center;
  background-size: cover;
}

.col3 { 
  min-height: 475px;
  width: 29.35%;
  float: left;
  background: rgba(211,203,189,.7);
  margin: .16%;
  padding: 1%;
  border: .2em solid black;
}

#allnews {
  width: 90%;
  margin-left: 4%;
}

#client-news h3 {
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5em;
  color: black;
  text-align: right;
  text-transform: uppercase;
  padding: 1% 2% 1% 0;
  border-top: .1em solid black;
  border-right: .1em solid black;
  border-bottom: .1em solid black;
  background-color: #D3CBBD;
  background-size: inherit;
  margin-bottom: 6%;
}

#client-news p {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #D3CBBD;
  color: black; 
  padding: 1.47%;
  text-transform: uppercase;
  line-height: 1.5;
  border: .15em solid #403D3C;
  font-weight: 500;
  position: relative;
  font-size: .75em;
}

#client-news img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  outline: .1em solid #403D3C;
  width: 100%;
  max-height: 225px;
}

#client-news div.newsp {
  display: block;
  position: relative;
  margin-top: 5%;
  width: 100%;
  float: left;
}

#client-news a:hover {
  color: #403D3C;
  text-decoration: underline;
  font-weight: bolder;
}

#news1 {
  margin-left: 3.91%;
}

div#news1:hover {
  background: #F19F0F;
}

#news2 {
  margin-right: 2%;
  margin-left: 2%;
}

div#news2:hover {
  background: #F19F0F;
}

div#news2 img {
  height: 225px;
}

#news3 {
  margin-top: 2%;
  margin-left: 3.91%;
}

div#news3:hover {
  background: #F19F0F;
}

#news3 img {
  width: 75%;
}

#news4 {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 1%;
}

#news4 img {
  width: 50%;
  height: auto;
}

div#news4:hover {
  background: #F19F0F;
}

#twitter {
  float: right;
  background: #5B9299;
  max-height: 975px;
  margin-top: -21.7em;
  margin-left: 1%;
  margin-right: 6%;
  padding-bottom: inherit;
}

div#timeline {
  width: 100%;
  min-height: 920px;
}

.col4 { 
  height: 400px;
  width: 31.33%;
  float: left;
  margin: .16%;
  padding: 1%;
}

#contact {
  float: left;
  display: block;
  background: #1C1919;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  border-top: .2em solid black;
}

section#contact div.rep-container {
  display: block;
  float: right;
  clear: both;
}

#representation {
  min-width: 100%;
  background: #F19F0F;
  float: left;
  border-top: .2em solid black;
  border-bottom: .2em solid black;
  margin-top: 8%;
  max-height: 150px;
}

#representation div#rep {
  display: block;
  float: left;
  width: 50%;
  height: inherit;
  padding: 1% 0 1% 14%;
  margin-left: 20%;
  line-height: 1.25;
}

#representation p {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  background: #D3CBBD;
  border: .2em solid black;
  height: inherit;
  max-width: 90%;
  padding: 1% 7.07% 1% 7.07%;
  font-size: .75em;
}

#representation div#rep a {
  color: #456F74;
}

#representation a:hover {
  color: #403D3C;
  font-weight: bolder;
  text-decoration: underline;
}

#contact h4 {
  margin-left: 36%;
  font-family: 'Gruppo', sans-serif;
  font-size: 2.75em;
  color: #F19F0F;
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  text-transform: uppercase;
  clear: both;
}

#contact div.contact-container {
  display: block;
  float: left;
  width: auto;
  margin-left: 36%;
  height: inherit;
}

#contact a {
  color: #FB9D29;
}


#contact span.main {
  color: #5B9299;
}

#contact div#ny {
  display: block;
  float: left;
  width: 100%;
  margin-top: 3%;
}

#contact div#la {
  display: block;
  float: left;
  min-width: 30%;
}

#contact div#map-la {
  display: block;
  padding: 6% 4% 0 5%;  
  float: left;
  width: 250px;
  height: 250px;
  margin-left: -1%;
}

#contact div#la-address {
  display: block;
  float: left;
  width: auto;
  padding-right: 2%;
}

#contact div#ny-address {
  display: block;
  float: left;
  padding-top: 3%;
  margin-right: -1%;
}

#contact div#la-address p {
  display: block;
  float: left;
  width: auto;
  padding-top: 6%;
  font-size: .9em;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  padding-top: 11%;
  width: auto;
}

#contact div#ny-address p {
  display: block;
  float: left;
  font-size: .9em;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  padding-top: 11%;
  width: auto;
}

#contact span.nyoff {
  color: #5B9299;
}

#contact div#map-ny {
  display: block;
  padding-top: 6%;
  float: left;
  width: 250px;
  height: 250px;
  margin-left: 1.5%;
  padding-left: 6%;
}

iframe#nymap {
  width: 90%;
  outline: .15em solid #F19F0F;
  position: relative;
}

iframe#lamap {
 outline: .15em solid #F19F0F;
 position: relative;
  width: 90%;
} 


#copyright {
  float: left;
  padding-left: 40%;
  width: 100%;
}

footer a {
  color: #F19F0F;
  padding-left: 1%;
}

footer {	
  clear: both;
  background: #456F74;
  z-index: 170;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #F19F0F;
  display: block;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

@media only screen and (max-width: 1174px) {
  #menu img #twitter-logo {
    max-height: 25px;
  }
  #menu img #fb-logo {
    max-height: 25px;
  }
  #menu ul li a {
    font-size: .66em;
    padding-top: 0;
  }
  #contact h4 {
    margin-left: 30%;
  }
  #contact div.contact-container {
    margin-left: 30%;
  }
  #contact div#map-la {
    margin-left: -.1%;
  }
}

@media only screen and (max-width: 1132px) {
  #news-highlight #text p {
    font-size: .8em;
  }
  #intro p {
    font-size: .8em;
  }
  #talent li a {
    font-size: .9em;
  }
  #client-news p {
    font-size: .65em;
  }
}

@media only screen and (max-width: 982px) {
  #menu ul li a {
    font-size: .55em;
  }
  #menu img#etalogo {
    max-width: 13em;
  }
  #news-highlight a#more {
    letter-spacing: 0;
  }
  #news-highlight #text {
    width: 30%;
    display: block;
    float: right;
    position: relative;
    margin-top: 0;
  }
  #news-highlight #newswrapper {
    max-height: 500px;
    float: left;
    display: block;
  }
  #news-highlight #text p {
    font-size: .75em;
    padding: 1%;
    margin-top: 50%;
  }
  #intro {
    padding: 6% 0 0 0;
  }
  #intro h1 {
    font-size: 2em;
    padding-top: 0;
  }
  #intro p {
    font-size: .65em;
  }
  #talent h2 {
    font-size: 1em;
  }
  #talent li a {
    font-size: .8em;
  }
  #client-news h3 {
    font-size: 2em;
  }
  #client-news #all-news {
    width: 100%;
  }
  #client-news .col3 {
    width: 40%;
  }
  #twitter {
    display: none;
  }
  #contact h4 {
    font-size: 2.25em;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 848px) {
  #menu ul li {
    margin-top: 7%;
    padding-top: 1%;
  }
  #client-news {
    overflow: hidden;
  }
  #client-news .col3 {
    height: inherit;     
    width: 100%;
    float: none;
    margin: 0;
    border: none;
    padding-top: 15%;
  }
  #allnews {
    width: 100%;
    float: none;
    margin: 0;
    border-top: .15em solid black;
  }
  #client-news img {
    width: 50%;
  }
  #client-news #news2, 
  #client-news #news3, 
  #client-news #news4 {
    border-top: .15em solid black;
  }
  #client-news #news3 img {
    width: 30%;
  }
  #client-news #news4 img {
    width: 20%;
  }
  #client-news div.newsp {
    float: none;
    margin-left: 15%;
    padding-right: 30%;
  }
  #client-news #news4 {
    border-bottom: .2em solid black;
  }
  #representation p {
    font-size: .7em;
  }
  footer #copyright {
    padding-left: 36%;
  }
}

@media only screen and (max-width: 799px) {
  #menu img#etalogo {
    max-width: 11em;
    padding-left: 5%;
    padding-top: 5%;
  }
  #menu ul li a {
    font-size: .5em;
  }
  #news-highlight #text p { 
    font-size: .65em;
    padding-top: 10%;
  }
  #talent h2 {
    font-size: .8em;
  }
  #talent ul {
    margin-left: 15%;
    width: 75%;
  }
  #client-news h3 {
    font-size: 1.5em;
  }
  #contact h4 {
    font-size: 2.25em;
    margin-left: 15%;
  }
  #contact div.contact-container {
    margin-left: 15%;
  }
  #contact div#ny-address p {
    font-size: .8em;
  }
  #contact div#la-address p {
    font-size: .8em;
  }
}

@media only screen and (max-width: 715px) {
  #news-highlight #text p {
    padding-top: 5%;
  }
  #representation div#rep {
    margin-left: 9%;
    width: 75%;
  }
}

@media only screen and (max-width: 657px) {
  #menu img#etalogo {
    max-width: 9em;
    margin-top: 5%;
    margin-left: 5%;
  }
  #menu ul li a {
    font-size: .45em;
  }
  #news-highlight #text p {
    font-size: .56em;
    padding-top: 1%;
  }
  #intro h1 {
    font-size: 1.5em;
  }
  #intro p {
    font-size: .6em;
  }
  #talent li a {
  font-size: .6em;
  }
  #contact div#map-ny {
    padding-left: 8%;
  }
} 
@media only screen and (max-width: 572px) {
  header {
    height: inherit;
  }
  #menu {
    margin-left: 5%;
  }
  #menu #logo img#etalogo {
    width: 30em;
    padding-top: 20%;
    padding-left: 5%;
    margin-left: 3%;
  }  
  #menu ul {
    float: left;
    display: block;
    width: 100%;
    transform: rotate(180deg);
    margin-left: .04%;
    padding: 0;
    clear: both;
  }
  #menu ul li {
    font-size: 1.25em;
    float: left;
    transform: rotate(-180deg);
    padding-left: .4%;
  }
  #menu ul li a {
    line-height: 0;
    letter-spacing: .1em;
  }
  #menu img#twitter-logo {
    margin-left: 2%;
  }
  #news-highlight #text {
    margin-top: 0;
    float: none;
    clear: both;
  }
  #news-highlight #text p {
    margin-top: -1%;
  }
  #news-highlight #highlightpic {
    margin-top: 15%;
    width: 100%;
  }
  #news-highlight img {
    border-right: none;
    border-bottom: .05em solid black;
  }
  #news-highlight #text {
    width: 100%;
  }
  #news-highlight #text p {
    padding-top: 3%;
  }
  #contact h4 {
    font-size: 2em;
  }
  #contact div.contact-container {
    margin-left: 15%;
  }
  #contact p {
    font-size: .75em;
  }
}
@media only screen and (max-width: 522px) {
  #menu ul {
    padding-right: 3%;
    padding-left: 3%;
  }
  #menu ul li {
    font-size: 1em;
    padding-left: 1%;
  }  
} 
@media only screen and (max-width: 491px) {
  #talent ul {
    margin-left: 10%;
    width: 90%;
  }
  #representation div#rep {
    width: 100%;
    margin: 0;
  }
  #contact div.contact-container {
    margin-left: 10%;
  }
  #contact h4 {
    margin-left: 10%;
    font-size: 1.75em;
  }
  #contact p {
    font-size: .7em;
  }
  #contact div#la-address,
  #contact div#ny-address {
    margin-top: 7%;
  }
  #contact div#la-address p,
  #contact div#ny-address p {
    font-size: .7em;
  }
  #contact div#map-la,
  #contact div#map-ny {
    height: 200px;
    width: 200px;
  }
  #representation div#rep {
    padding-left: 9%;
  }
@media only screen and (max-width: 460px) {
  #menu ul {
    padding-left: 10%;
  }
  #menu ul li {
    padding-left: 0;
    font-size: .9em;
  }
  #intro h1 {
    font-size: 1.25em;
  }
  #talent h2 {
    font-size: .65em;
  }
  #talent ul {
    margin-left: 7%;
  }
  #client-news h3 {
    font-size: 1.25em;
  }
  #contact p {
    font-size: .6em;
  }
  iframe#lamap,
  iframe#nymap {
    width: 90%;
    height: 90%;
  }
@media only screen and (max-width: 418px) {
  #menu ul {
    padding-left: 75%;
    padding-right: 3%;
    margin-top: 5%;
  }
  #news-highlight #highlightpic {
    margin-top: 30%;
  }
  #client-news img,
  div#news2 img {
    height: initial;
  }
  footer #copyright {
    padding-right: 32%;
  }
}

  
