@import url(https://fonts.googleapis.com/css?family=Palanquin:400,500,600,700|Rambla:400,400italic,700,700italic|Archivo+Narrow:400,400italic,700,700italic|Pragati+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Oswald);
html { 
    background: url('https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_5/images/gold_dark.jpg?raw=true') no-repeat center center fixed;
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale')";
}

* {
  margin: 0;
  padding: 0 auto;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	font-weight: 400;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
	color: white;
}

header {
	background: #403D3C;
	height: 90px;
	z-index: 170;
  margin: 0 auto;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header div#logo {
  background-color: transparent;
  line-height: 90px;
  width: 200px;
	height: 200px;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 15px;
}

#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 2;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu #menu-button {
	display: none;
}

#menu {
	font-family: 'Archivo Narrow', sans-serif;
	background: #403D3C;
}
	
#menu > ul > li {
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
}

#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#menu > ul > li > a {
	padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 40px
  text-decoration: none !important;
  color: #D3CBBD;
  font-weight: 400;
  text-transform: uppercase;
}

#menu > ul > li:hover > a {
  color: #5D959C;
}

#text td p h1 h2 h3 h4 {
	display: inline;
  background-color: #AB9878;
  width: 400px;
}

#float-left {
	float: left;
}


h2 h3 h4 {
  font-size: 30px;
  font-family: 'Archivo Narrow', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

/*#congrats {
  display: block; 
  width: 500px;
  height: 250px;
  margin-right: 50px;
  float: right;
  background: #FB9D29; 
  padding: 125px 20px 200px;
  border: black solid 2px 0px 2px 2px;;   
  color: #D3CBBD;
}

#congrats #highlightPic {
  position: top center;
  padding: 20px;
}

#congrats #text p {
  position: center;
  border: 3px solid #1C1919;
  background: #456F74;
  padding-left: 1px;
  width: 500px;
  height: 100px;
  border: black solid 5px;
  text-align: justify;
  font-family: 'Archivo Narrow', sans-serif;
}*/

/*#intro {
  margin-left: 50px;
  float: left;
  display: block;
  width: 700px;
  height: 250px;
  background: #1C1919;
  line-height: 1.5;
  text-align: left;
  padding: 125px 20px 200px;
  text-shadow: 3px 3px 5px #000000;
}*/

#intro {
  margin-left: 600px;
  margin-right: 800px;
  display: block;
  width: 800px;
  height: 250px;
  background: #1C1919;
  line-height: 1.5;
  text-align: left;
  padding: 120px 60px 250px 25px;
  text-shadow: 3px 3px 5px #000000;
}

#intro h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FB9D29;
  text-align: center;
  font-size: 65px;
  line-height: 125%;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 10px;
}

section#intro p {
  color: #D3CBBD;
  text-align: justify;
  padding: 10px 15px 10px 30px;
}

section#intro p br {
  line-height: 1em;
}

section#talent {
  position: center;
  padding-top: 50px;
  float: left;
}

div#multiColumn {
  -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    list-style: none;
}

#client-news {
  padding-top: 50px;
}

#contact {
  padding-top: 50px;
}

#contact_grid {
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 100px; 
    -moz-column-gap: 100px;
    column-gap: 100px;
}

#representation {
	clear: both;
}

footer {
	clear: both;	
  background: #456F74;
  height: 75px;
  z-index: 170;
  border-top: 1px solid black;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none !important;
  color: #D3CBBD;
  font-family:'Archivo Narrow', sans-serif;
  text-transform: bold;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}