html { 
    background: url('https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale')";
} 

body {
	/*background-color: #FB9D29;*/
	font-family: 'Hind', sans-serif;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#menu ul li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#menu ul li a {
	text-decoration:none;
	border: solid 1px black;
	background-color: grey;
	color: white;
	padding: 4px 10px 4px 10px;
}

#wrapper ul {
	list-style-type: none;
	font-style: bold;
}

#float-left {
	float: left;
}

h1 {
	font-size: 50px;
}

h2, h3, h4 {
	font-size: 30px;
}