@import url(https://fonts.googleapis.com/css?family=Palanquin:400,500,600,700|Rambla:400,400italic,700,700italic|Archivo+Narrow:400,400italic,700,700italic|Pragati+Narrow:400,700);
html { 
    background: url('https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale')";
} 
}

body {
	/*background-color: #FB9D29;*/
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
	color: #D3CBBD;
}

.main {
	background-color: #AB9878;
	padding: 0px 100px 0px 100px;
	width: 1000px;
}

header {
    background-color: #403D3C;
    border-bottom: 1px solid rgba(0,0,0,.15);
    text-align: center;
}

header > div#logo {
        line-height: 70px;
        position: relative;
}

header > div#logo > div#navToggle {
            background-color: rgba(0,0,0,.15);
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms all ease;
}
header > div#logo > div#navToggle:hover {
            background-color: #456F74;
}        

header > nav {
	background-color: #403D3C;
	display: none;
}

#logo {
	background:url(lhttps://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/eta_logo.png?raw=true) no-repeat top left;
	background-color: transparent;
	width: 200px;
	height: 200px;
	text-indent: -9999px;
}
    
header nav > ul {
            list-style-type: none;    
}
        
header nav > ul > li {
                border-bottom: 1px dotted rgba(0,0,0,.1);
                position: relative;
}

header nav > ul > li:last-of-type {
        border-bottom: none;    
}
            
header nav > ul > li > a {
	display: block;
	color: #D3CBBD;
	font-weight: 700;
	padding: 1.5rem 0;
	text-decoration: none;
	transition: 250ms all ease;
}
                 
header {
        background-color: #403D3C;
        flex-direction: row;
        line-height: 90px;
        padding: 0 3rem;
        position: fixed;
        text-align: left;
        width: 100%;
}
    
header > div#logo {
        background-color: transparent;
        line-height: 90px;
}

#wrapper ul {
	list-style-type: none;
	font-style: bold;
}

#text td p h1 h2 h3 h4 {
	display:inline;
    background-color: #AB9878;
    width: 400px;
}

#float-left {
	float: left;
}

#congrats {
	display: inline-block; right;
	width: 450px;
  	margin-right: .5em;
}

h1 {
	font-size: 50px;
	font-family: font-family: 'Archivo Narrow', sans-serif;
}

h2, h3, h4 {
	font-size: 30px;
	font-family: 'Archivo Narrow', sans-serif;
}

p {
	font-size: 18px;
	font-family: 'Pragati Narrow', sans-serif;
}

#contact_grid {
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 100px; 
    -moz-column-gap: 100px;
    column-gap: 100px;
}

#col1 {
	float:left;
	margin-left: 100px
}

#col2 {
	float:right;
	margin-right: 200px
}

#representation {
	clear: both;
}

footer {
	clear: both;	
}