@import url(https://fonts.googleapis.com/css?family=Palanquin:400,500,600,700|Rambla:400,400italic,700,700italic|Archivo+Narrow:400,400italic,700,700italic|Pragati+Narrow:400,700);
html { 
    background: url('https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://github.com/easterntalent/easterntalent.github.io/blob/master/unit_3/images/gold.jpg?raw=true', sizingMethod='scale')";
} 

body {
	/*background-color: #FB9D29;*/
	font-family: 'Archivo Narrow', sans-serif;
	margin-right: 100px;
	margin-left: 100px;
	background-color: #AB9878;
}

.main {
	background-color: #AB9878;
	padding: 0px 100px 0px 100px;
	width: 1000px;
}

#menu ul li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#menu ul li a {
	text-decoration:none;
	border: solid 1px black;
	background-color: grey;
	color: white;
	padding: 4px 10px 4px 10px;
}

#wrapper ul {
	list-style-type: none;
	font-style: bold;
}

#text td p h1 h2 h3 h4 {
	display:inline;
    background-color:#AB9878;
    color:#000000;
    width: 400px;
}

#float-left {
	float: left;
}

#congrats {
	display: inline-block; left 
	width: 450px;
  	padding: 10%;
  	border: 4px solid black;
  	margin-right: .5em;
}

h1 {
	font-size: 50px;
	font-family: font-family: 'Archivo Narrow', sans-serif;
}

h2, h3, h4 {
	font-size: 30px;
	font-family: 'Archivo Narrow', sans-serif;
}

p {
	font-size: 18px;
	font-family: 'Pragati Narrow', sans-serif;
}

#contact_grid {
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 100px; 
    -moz-column-gap: 100px;
    column-gap: 100px;
}

#col1 {
	float:left;
	margin-left: 100px
}

#col2 {
	float:right;
	margin-right: 200px
}

#representation {
	clear: both;
}

footer {
	clear: both;	
}