#background {
  background-color: #FB9D29;
  opacity: 0.5; 
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

margin-right: .5em;

aside div #background-aside {
  padding-top: 100px;
  padding-right: 150px;
  width: 450px;
  border-style: 5px solid black;
}

.main {
	background-color: #AB9878;
	padding: 0px 100px 0px 100px;
	width: 1000px;
}

text-shadow: -1px 0 #456F74, 0 1px #456F74, 1px 0 #456F74, 0 -1px #456F74;


<!-- <div id="col1" class="col s1of2"> -->
}

 <a class="twitter-timeline" href="https://twitter.com/EasternTalent" data-widget-id="659036985584173056">Tweets by @EasternTalent</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

 text-shadow: 1px .5px 4px #000000;

footer

  height:auto;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background: #456F74;
  border-top: 2px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;